body {
  background-color: #fdd9ca;
  /*cursor: url('../images/cursor.png'), default;*/
}

img {
  max-width: 100%;
  height: auto;
  display: block;
 /* object-fit: cover;*/
}

@font-face {
  font-family: "lineto-brown-regular";
  /*font-family: "lineto-brown-bold";
  font-family: "FreightDisp Pro Book Italic";*/
  src: url("../fonts/lineto-brown-regular.ttf");
/*  src: url("../fonts/lineto-brown-bold.ttf");
  src: url("../fonts/FreightDisp Pro Book Italic.otf");*/
}

@font-face {
  font-family: "lineto-brown-bold";
  src: url("../fonts/lineto-brown-bold.ttf");
}

@font-face {
  font-family: "FreightDisp Pro Book Italic";
  src: url("../fonts/FreightDisp Pro Book Italic.otf");
}

header {
  height: 150px;
  margin-bottom: 100px;
/*  margin-top: -65px;*/
/*  background-color: #fdd9ca;
  position: fixed;*/
}

footer {
  height: 50px;
  margin-top: 100px;
}

h1 {
  font-family: "lineto-brown-bold";
  text-align: center;
  font-size: 22px;
  margin-top: 0px;
  margin-bottom: 0px 10px;
}

h2 {
  font-family: "lineto-brown-regular";
  text-align: center;
  font-size: 18px;
  margin: 0px 10px;
}

h3, p {
  font-family: "FreightDisp Pro Book Italic";
  text-align: center;
  font-size: 18px;
  margin: 0px 10px;
}

/*p {
  font-family: "lineto-brown-regular";
  font-size: 16px;
  text-align: center;*/
/*  margin-bottom: 10px;*/
}

a {
  text-align: center;
  margin: 0px;
  text-decoration: 
}

.container-fluid {
  max-width: 2000px;
}

.logo {
  margin-top: -30px;
  height: 90px;
  background-color: gray;
  background: url(../images/logo.jpg) center center no-repeat;
  background-size: contain;
  overflow: hidden;
}

.thumbnail-homepage {
  max-width: 100%;
  height: auto;
  text-decoration: none;
  display: block;
  position: relative;
/*  z-index: -1;*/
  margin-bottom: 175px;
  box-shadow: 12px 12px 0px black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.project-homepage {
  max-width: 100%;
  height: auto;
  min-height: 300px;
/*  max-height: 800px;*/
/*  width: 65%;*/
  /*height: auto;*/
  position: relative;
  background-color: black;
  margin-bottom: 175px;
  box-shadow: 12px 12px 0px black;
  display: flex;
  align-items: center;
  justify-content: center;
}

#project1-homepage-img {
  background: url(../images/thumbnails/01.jpg) center center no-repeat;
  background-size: cover;
  overflow: hidden;
}

#project2-homepage-img {
  background: url(../images/thumbnails/02.jpg) center center no-repeat;
  background-size: cover;
  overflow: hidden;
}

#project3-homepage-img {
  background: url(../images/thumbnails/03.jpg) center center no-repeat;
  background-size: cover;
  overflow: hidden;
}

#project4-homepage-img {
  background: url(../images/4.jpg) center center no-repeat;
  background-size: cover;
  overflow: hidden;
}

#project5-homepage-img {
  background: url(../images/5.png) center center no-repeat;
  background-size: cover;
  overflow: hidden;
}

#project6-homepage-img {
  background: url(../images/6.png) center center no-repeat;
  background-size: cover;
  overflow: hidden;
}

.project-page {
  height: 500px;
  background-color: gray;
  margin-bottom: 75px;
  box-shadow: 12px 12px 0px black;
}

#project1-page-img {
  background: url(../images/examples/1.jpg) center center no-repeat;
  background-size: cover;
  overflow: hidden;
}

.about-photo {
  height: 500px;
  background: url(../images/about1.jpg) center center no-repeat;
  background-size: cover;
  margin-bottom: 75px;
  box-shadow: 12px 12px 0px black;
  overflow: hidden;
}

#contact-container {
  min-height: 250px;
  /*min-height: 75%;*/
}

.carousel-img {
  /*width: 800px;*/
/*  box-shadow: 12px 12px 0px black;*/
}

/*.overlay-black {
  background-color: black;
  opacity: 0.60;
  -moz-opacity: 60%;
  -webkit-opacity: 60%;
}*/


.tint {
  position: relative;
  float: left;
/*  margin-right: 20px;*/
  margin-bottom: 175px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tint:before {
  content: "";
  display: block;
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: all .3s linear;
  background: none;
}

.tint:hover:before { 
  background: black;
  opacity: 0.7;
}

.info-mouseover {
  color: white;
  display: none;
  z-index: 2;
}




